:root {
    --white: #FFFFFF;
    --lightGreen: #C8EDEE;
    --lightBlue: #3E91D5;
    --darkBlue: #03254C;
}

.html, body{
    margin: 0;
    min-height: 100vh;
    background-color: var(--white);
}

.main{
    width: 100%;
    min-height: 100vh;
}

.navbar {
    background-color: #03254C;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-right: 3%;
    justify-content: space-between;
    position: sticky;
    top: 0%;
}
