@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 0px;
}

.navbar {
    background-color: #03254C;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-right: 3%;
    justify-content: space-between;
    position: sticky;
    top: 0%;
}

.navbar-links {
    display: flex;
    gap: 70px;
    font-size: 1.4em;
}

.navbar-links a {
    font-family: 'Kanit', sans-serif;
    color: white;
    text-decoration: none;
}

.logo-intro {
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
    gap: 200px;


}

.logo-intro-desc {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    font-family: 'Kanit', sans-serif;
}

.logo-intro-desc h1 {
    font-family: 'Gudea', sans-serif;
    font-size: 6em;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 50px;
}

.logo-intro-desc p {
    font-size: 1.5em;
}

.logo-intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-variation {
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 7.5%;
    padding-top: 7.5%;
    justify-content: space-between;
    background-color: #ECFEFF;
}

.logo-variation-title-colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-arrange {
    margin-top: 7.5%;
    margin-left: 15%;
    margin-right: 15%;
}

.logo-arrange-content {
    margin-top: 15%;
    display: flex;
    gap: 180px;
    justify-content: center;    
    margin-bottom: 7.5%;
}

.logo-arrange-left {
    display: flex;
    flex-direction: column;
    gap: 165px;
}

.logo-spacing {
    padding-left: 15%;
    padding-right: 15%;  
    padding-bottom: 7.5%;
    padding-top: 7.5%;
    background-color: #ECFEFF;
}

.logo-heading {
    margin-bottom: 15%;
}

.logo-spacing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-spacing-desc {
    text-align: left;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dont-ex {
    display: flex;
    align-items: center;
    gap: 50px;
}

.dont-content {
display: flex;
flex-direction: column;
gap: 100px;
}

.dont-ex-overall {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.yes-and-no {
    margin-top: 7.5%;
    margin-left: 15%;
    margin-right: 15%; 
    margin-bottom: 15%;
}

li {
    text-align: left;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 3.5em;
    padding-right: 12%;
}
